- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
= render "layouts/google_tag_manager_body"

- page_title s_("UsageQuota|Usage")
- @content_class = "limit-container-width" unless fluid_layout

%h1.page-title.gl-font-size-h-display
  = s_('UsageQuota|Usage Quotas')

.row
  .col-sm-6
    = s_('UsageQuota|Usage of resources across your projects').html_safe

= gl_tabs_nav({ class: 'js-storage-tabs' }) do
  = gl_tab_link_to '#pipelines-quota-tab', item_active: true do
    =  s_('UsageQuota|Pipelines')
  = gl_tab_link_to '#storage-quota-tab' do
    = s_('UsageQuota|Storage')

.tab-content
  .tab-pane.active#pipelines-quota-tab
    - if Feature.enabled?(:usage_quotas_pipelines_vue, @group)
      #js-pipeline-usage-app{ data: pipeline_usage_app_data(@namespace) }
    - else
      = render "namespaces/pipelines_quota/ci_minutes_report",
        locals: { namespace: @namespace, projects_usage: @projects_usage }
      .js-ci-minutes-usage
      = render "namespaces/pipelines_quota/list",
        locals: { namespace: @namespace, projects_usage: @projects_usage }
  .tab-pane#storage-quota-tab
    #js-storage-counter-app{ data: storage_usage_app_data(@namespace) }
